
#closeNav{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  text-decoration: none;
  color: rgb(25, 25, 25);
}

.logo-container{
  display: flex;
  height: 175px;
  align-items: center;
  justify-content: center;
}


.logo-img{
  height: 150px;
  width: 150px;
}


.sidebar-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1) inset;
  align-items: center;
  padding-bottom: 10px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-main::-webkit-scrollbar{
  display: none;
}
.sidebar-footer{
  padding-top: 10px;
  height: 75px;
  display: flex;
  flex-direction: column;

}

/* main*/
.container-0{
  width: 100%;
  min-height: 60px;

  position: relative;
}

.container-01{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;

  margin-top: 5px;
}

.container-01 a{
  text-decoration: none;
  font-size: 14px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-01 a p{
  margin-top: 5px;
  font-size: 14px;
}
.container-01 img{
  width: 28px;
  height: 28px;
  border-radius: 100px;
}

.container-00{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  visibility: hidden;
  
}

#JoinUsButton{
  padding: 5px 10px 5px 10px;
  border-color: transparent;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  background-color:rgb(246, 205, 152);
  cursor: pointer;
}

#JoinUsButton span{
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 500;
}

#JoinUsButton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#JoinUsButton:hover span{
  padding-right: 20px;
}

#JoinUsButton:hover span:after{
  opacity: 1;
  right: 0;
}

#JoinUsButton:active{
  opacity: 0.8;
}

.sidebar-main-item{
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 75%;
  margin: 0 0 15px 0;
  cursor: pointer;
  transition: all .5s;

}

.sidebar-main-item:hover{
  margin-left: -10px;
}

.sidebar-main-item:hover #home-icon{
  background-image: url('/icons/home-hover.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.sidebar-main-item:hover #plan-icon{
  background-image: url('/icons/plan-hover.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.sidebar-main-item:hover span{
  font-size: 14px;
  font-weight: 500;
  color:darkslategray
}

.sidebar-main-item img{
  width: 24px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.sidebar-main-item span{
  font-size: 14px;
  padding-right: 20px;
  font-weight: 400;
}


#sidebar-main-item-saved-recipes{
  width: 75%;
  margin: 0 0 10px 0;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#saved-recipes:hover{
  margin-left: -10px;
}

#saved-recipes:hover img{
  background-image: url('/icons/saved-hover.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

#saved-recipes:hover span{
  font-size: 14px;
  font-weight: 500;
  color:darkslategray
}

#saved-recipes{
  display: flex;
  align-items: center;
  transition: all .5s;
}

#saved-recipes span{
  font-size: 14px;
  padding-right: 20px;
  font-weight: 400;
}

#saved-recipes img{
  width: 24px;
  margin-right: 10px;
}

.saved-recipes-collection{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7.5px;
  opacity: 0.75;
  transition: all 0.5s;
  cursor: pointer;
}

.saved-recipes-collection:hover{
  margin-left: -10px;
  opacity: 1;
}

.saved-recipes-collection span{
  font-size: 13px;
  color: rgb(96,96,96);
  align-self: flex-end;
  font-weight: 400;

}

.saved-recipes-collection:hover span:hover{
  color: black;
  font-weight: 500;
}

.saved-recipes-collection img{
  width: 20px;
  margin-right: 10px;
}


/* Footer */
.sidebar-footer-socialmedia-icons{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.icon-socialmedia-container{
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-left: 5px;
  padding-right: 5px;
}

.icon-socialmedia-icon{
  background-repeat: no-repeat;
  background-size: 20px 20px;

  width: 20px;
  height: 20px;
}

.icon-socialmedia-icon:hover{
  background-size: 26px 26px;

  width: 26px;
  height: 26px;
}

#icon-socialmedia-facebook{
  background-image: url('/icons/facebook.png');
}

#icon-socialmedia-facebook:hover{
  background-image: url('/icons/facebook-hover.png');
}

#icon-socialmedia-twitter{
  background-image: url('/icons/twitter.png');
}

#icon-socialmedia-twitter:hover{
  background-image: url('/icons/twitter-hover.png');
}

#icon-socialmedia-instagram{
  background-image: url('/icons/instagram.png');
}

#icon-socialmedia-instagram:hover{
  background-image: url('/icons/instagram-hover.png');
}

#icon-socialmedia-pinterest{
  background-image: url('/icons/pinterest.png');
}

#icon-socialmedia-pinterest:hover{
  background-image: url('/icons/pinterest-hover.png');
}

.sidebar-footer-more{
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-footer-more-p{
  font-size: 5px;
}

.sidebar-footer-more-nev{
  font-size: 13px;
  color: black;
  text-decoration:solid;
  text-align: center;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.sidebar-footer-more-nev:hover{
  font-size: 14.5px;
  opacity: 0.8;
  color:darkslategray;
}

.sidebar-footer-more-nev:active{
  font-size: 14.5px;
  opacity: 0.5;
}

.sidebar-footer-more-text{
  font-size: 13px;
  font-weight: 500;
  padding-right: 2px;
  padding-left: 2px;
}

.sidebar-footer-more-text:hover{
  font-size: 15px;
  font-weight: 700;
}

