{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/css/forgot_password/general.css' %}">
  <link rel="stylesheet" href="{% static '/css/forgot_password/main.css' %}">

  <title>Forgot Password</title>
</head>
<body>
  <main
  style="justify-content: center;"
  >
    <img class = "forgot-password-icon" src="{% static '/images/padlock.png' %}" alt="">
    <div style="height: 10px;"></div>
    <p style=
    "
    font-size: 25px;
    "
    >
      New password
    </p>

    <form action="/login.html"
          class="form-template"
    >
      <input id = "password" 
            name = "password" 
            type="password" 
            placeholder="New password"
            class="input-template"
      >

      <input style = "margin-top: 10px;"
            id = "repassword" 
            name = "repassword" 
            type="password" 
            placeholder="Re-enter the password"
            class="input-template"
      >

      <button id = "verify-btn" class = "btn-template">
        Finish
      </button>
    </form>
    
    <a id = "back-to-login" href="{% url 'login' %}">
      Back to login
    </a>

    </div>
  </main>
  <script>

  </script>
</body>
</html>