{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Roboto font -->

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Martian+Mono:wght@300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/login_signup/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/login_signup/main.css' %}">

  <title>Login / Signup</title>
</head>
<body>

  <main>
    <!-- Left side -->
    <div id = "left-side">
      
      <div id = "log-in-side">
        <img id = "logo-for-login" src="{% static '/images/logo2.png' %}" alt="">
        <div id = "welcome-back">
          Welcome back &#127876
        </div>
        <div class = "sub-welcome">
          Hope you can find your favorite recipe here,
        </div>
        <div class = "sub-welcome">
          And, happy cooking :)
        </div>

        {% if messages %}
          {% for message in messages %}
            {% if message.tags == "error" %}
              <script>
                alert("{{ message }}")
              </script>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div style="height: 50px;"></div>
        <form method="POST" style="display: flex; flex-direction: column">
          {% csrf_token %}
          {{ login_form }}
          <!-- <input id = "username-input" class = "input-shape-login"  type="text" placeholder="Username">
          <input id = "password-input" class = "input-shape-login" type="password" placeholder="Password">
           -->
          <div id = "rmb-forgotpw-container">
            <label class="container-remember-me">
              Remember me
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
            <a id = "Forgot-password-nav" href="#">
              Forgot password
            </a>
          </div>
    
          <button id = "login-button" name="login">
            Log in
          </button>
        </form>
        <div id = "Sign-up-box" >
          Don't have an account?
          <span id = "sign-up-transform" onclick="signUpTransform()" href="#">
            Sign up here
          </span>
        </div>
      </div>

      <div id = "sign-up-quote">
        <img src="{% static '/images/sign-up.jpg' %}" alt="">
        <q>
          Nothing as creative as cooking
        </q>

        <button id = "back-to-log-in-button" onclick="loginTransform()">
          &#8592
        </button>
      </div>

    </div>
    
    <!-- Right Side -->
    <div id = "right-side">
        <div id = "img-slides">
          <img class = "mySlides animate-fading" src="{% static '/images/img-slide-login (1).jpg' %}" alt="">
          <img class = "mySlides animate-fading" src="{% static '/images/img-slide-login (2).jpg' %}" alt="">
          <img class = "mySlides animate-fading" src="{% static '/images/img-slide-login (3).jpg' %}" alt="">
          <img class = "mySlides animate-fading" src="{% static '/images/img-slide-login (4).jpg' %}" alt="">
          <img class = "mySlides animate-fading" src="{% static '/images/img-slide-login (5).jpg' %}" alt="">

          <button class = "button-display-left" onclick="displayImg(-1)">&#10094;</button>
          <button class = "button-display-right" onclick="displayImg(1)">&#10095;</button>
          <div id = "slogan-text">
            Find Happiness In Cooking
          </div>
        </div>
        <div id = "sign-up-side">
          <p id = "create-an-account">Create an account</p>
          <p id = "Your-infomation">Your information</p>
          <form id = "gender-signup">
              <input type="radio" id="Male" name="gender_signup" value="Male">
              <label for="Male">Male</label><br>
              <input type="radio" id="Female" name="gender_signup" value="Female">
              <label for="Female">Female</label><br>
              <input type="radio" id="Custom" name="gender_signup" value="Custom">
              <label for="Custom">Custom</label>
          </form>
          <input id = "fullname-signup-input" class = "input-shape-signup" type="text" placeholder="Full name"> <input id = "email-signup-input" class = "input-shape-signup" type="text" placeholder= "Email"> 


          <p id = "Your-account">Your account</p>
          <input id = "username-signup-input" class = "input-shape-signup" type="text" placeholder="Username">
          <input id = "password-signup-input" class = "input-shape-signup" type="password" placeholder="Password">
          <input id = "repassword-signup-input" class = "input-shape-signup" type="password" placeholder="Re-password">
          <button id = "signup-button">
            Finish
          </button>
        </div>
    </div>
  </main>
  <!-- My javascript code -->
  <script>
    // For Slide Images
    var slideIndex = 0;
    var timeoutHandle = setTimeout(carousel, 0);

    function displayImg(n) {
      if(timeoutHandle){
          clearTimeout(timeoutHandle);
      }
      showImg(slideIndex += n);
      // Reset timeout
      timeoutHandle = setTimeout(carousel, 4750);

    }

    function showImg(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex-1].style.display = "block";
    }

    function carousel() {
      slideIndex++;
      showImg(slideIndex);
      timeoutHandle = setTimeout(carousel, 4750);
    }

    // Tranform to Sign up
    function signUpTransform(){

      document.getElementById("img-slides").style.transition = "all 0.1s"
      document.getElementById("log-in-side").style.transition = "all 0.1s"
      document.getElementById("img-slides").style.opacity = "0";
      document.getElementById("img-slides").style.visibility = "hidden";
      document.getElementById("log-in-side").style.visibility = "hidden";

      document.getElementById("left-side").style.flex = "55%";
      document.getElementById("right-side").style.flex = "45%";

      document.getElementById("sign-up-quote").style.transition = "all 2s"
      document.getElementById("sign-up-side").style.transition = "all 2s"
      document.getElementById("sign-up-quote").style.visibility = "visible";
      document.getElementById("sign-up-side").style.visibility = "visible";
      
    }
    
    function loginTransform(){

      document.getElementById("sign-up-quote").style.transition = "all 0.1s"
      document.getElementById("sign-up-side").style.transition = "all 0.1s"
      document.getElementById("sign-up-quote").style.visibility = "hidden";
      document.getElementById("sign-up-side").style.visibility = "hidden";

      document.getElementById("left-side").style.flex = "45%";
      document.getElementById("right-side").style.flex = "55%";
      
      document.getElementById("img-slides").style.transition = "all 2s"
      document.getElementById("log-in-side").style.transition = "all 2s"
      document.getElementById("img-slides").style.opacity = "1";
      document.getElementById("log-in-side").style.visibility = "visible";
      document.getElementById("img-slides").style.visibility = "visible";
    }
  </script>
</body>
</html>