{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Martian+Mono:wght@300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/common/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/common/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/common/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/search/main.css' %}">

  <title>Searching</title>
</head>

<body>

  <!-- Header -->
  <header id = "header">
    <div id = "left-header">
      <img id = "icon-nav"  onclick="openNav()" src="{% static '/icons/nav.png' %}" alt="nav">
      <a href="{% url 'index' %}">
        <img id = "logo-img2" src="{% static '/images/logo2.png' %}" alt="">
      </a>
    </div>

    <div id = "middle-header">
      <!-- HEADER SEARCH -->
       <!-- Search on header -->
       <form class = "form-search-header" action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <input id = "header-search" 
        name = "header-search"
        type="text" 
        placeholder="Search recipes"
        >
        <input type="submit" style="display:none"/>
        <button type = "button" id = "search-btn-header" onclick="openSearchOnHeader()">
          <img id = "search-icon-header" src="{% static '/icons/search.png' %}" alt="Search-icon">
        </button>
      </form>

    </div>

    <div id = "right-header">
      {% if not request.user.is_authenticated %}
          <div style=" visibility:  visible; " 
          id = "container-10">
            <button id = "JoinUsButton2" onclick="login()">
              <span>
                Log In / Sign Up
              </span>
            </button>
          </div>
          {% else %}
          <div style=" visibility:  visible;" id = "container-11">
            
            <div class = "dropdown">
              <span class = "username-header" onclick="displayDropdown()"> {{user.username}}</span>
              <img class = "profile-header" onclick="displayDropdown()" src="{{user.userinfo.avatar.url}}" alt="">
              <div id="my-dropdown" class="dropdown-content">
                <a href="{% url 'profile' user.username %}">Profile</a>
                <a href="{% url 'post_a_recipe' %}">Post recipe</a>
                <a href="{% url 'logout' %}" 
                    onclick="return logout();"
                >
                    Log out
                </a>

              </div>
            </div>
            
          </div>
          {% endif %}
    </div>

  </header> 

  <aside id = "sidebar">
    <a href="javascript:void(0)" id = "closeNav" onclick="closeNav()">&times;</a>

    <!-- Logo website container -->
    <div class = "logo-container">
      <a class = "logo-a" href="{% url 'index' %}">
        <img class = "logo-img" src="{% static '/images/logo.png' %}" alt="">
      </a>
    </div>

    <!-- Sidebar main  -->
    <div class = "sidebar-main"> 

      <div id = "container-0">
        
        {% if not request.user.is_authenticated %}
        <div style="visibility:   visible ;" id = "container-00">
          <button type="button" id = "JoinUsButton" onclick="login()">
            <span>
              Join Us
            </span>
          </button>
        </div>
        {% else %}
        <div style="visibility:  visible ;" id = "container-01">
          
          <a href="{% url 'profile' request.user.username  %}">
            <img src="{{user.userinfo.avatar.url}}" alt="">
            <p>{{user.username}}</p>
          </a>
        </div>
        {% endif %}
      </div>

      <p style="min-height: 10px;"></p>
        <div class = "sidebar-main-item">
            <img id = "home-icon" src="{% static '/icons/home.png' %}" alt="">
            <span>My Feeds</span>
        </div>

        <div class = "sidebar-main-item">
          <img id = "plan-icon" src="{% static '/icons/plan.png' %}" alt="">
          <span>Meal Planner</span>
        </div>

        <div id = "sidebar-main-item-saved-recipes">
          <div id = "saved-recipes">
            <img src="{% static '/icons/saved.png' %}" alt="">
            <span>Saved Recipes</span>
          </div>
          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>All Recipes</span>
          </div>

          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>Breakfasts</span>
          </div>

          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>Dessert</span>
          </div>

          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>Dinners</span>
          </div>

          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>Drinks</span>
          </div>

          <div class = "saved-recipes-collection">
            <img src="{% static '/icons/folder.png' %}" alt="">
            <span>Soups</span>
          </div>

        </div>

    </div>

    <!-- Sidebar footer -->
    <div class = "sidebar-footer">
      <div class = "sidebar-footer-socialmedia-icons">

        <div class = "icon-socialmedia-container">
          <a href="#">
            <div id = "icon-socialmedia-facebook" class = "icon-socialmedia-icon">
            </div>
          </a>
        </div>

        <div class = "icon-socialmedia-container">
          <a href="#">
            <div id = "icon-socialmedia-twitter" class = "icon-socialmedia-icon">
            </div>
          </a>
        </div>

        <div class = "icon-socialmedia-container">
          <a href="#">
            <div id = "icon-socialmedia-instagram" class = "icon-socialmedia-icon">
            </div>
          </a>
        </div>

        <div class = "icon-socialmedia-container">
          <a href="#">
            <div id = "icon-socialmedia-pinterest" class = "icon-socialmedia-icon">
            </div>
          </a>
        </div>

      </div>
      <div class = "sidebar-footer-more">
        <p class = "sidebar-footer-more-p">

          <a class = "sidebar-footer-more-nev" href="#">
            Privacy
          </a>

          &#9679;

          <a class = "sidebar-footer-more-nev" href="#">
              Terms
          </a>

          &#9679;

          <a class = "sidebar-footer-more-nev" href="#">
            Copyrights
          </a>
        </p>
      </div>
    </div>

  </aside>
   
  <!-- Main -->
  <main style = "margin: 0 calc(12%);" id = "main">
    <div style="height: 30px;"></div>
    <p id = "results-text">
      <div class = "result">
        <div style="font-size: 20px;">
          <span style="font-size: 20px;" id = "number-of-results">{{result_amount}}</span> 
          result for "
          <span style="font-size: 20px;" id = "search-query">{{q}}</span>"
        </div>

        <form class="filter-container">

          <select name="filter" id="filter" class = "form-template">
            <option selected="Filter">Filter</option>
            <option value="Country">Country</option>
          </select>

          <select name="sort" id="sort" class = "form-template">
            <option selected="Sort">Sort</option>
            <option value="Date">Date</option>
            <option value="Like">Like</option>
          </select>
          
          <button id = "search-btn" >
            Search
          </button>

        </form>

      </div>
      <div style="
      margin: 5px 0 20px 0;
      height: 2.25px;
      width: 100%;
      background-color: lightgrey;
      border-radius: 100px;
      "></div>

    </p>

    <div id = "recipes-search-grid" class = "recipes-grid">

      {% for post in result_post %}
        <div class = "post-grid-container">
          <a class = "Recipe-img-preview" href="#">
            <img src="{{ post.preview.url }}" alt="recipe img">
          </a>
          <div class = "card-info">
            <!-- Link to Users -->
            <a class = "author-recipe" href="{% url 'profile' post.chef.username %}">
              <img src="{{ post.chef.userinfo.avatar.url }}" alt="user">
            </a>
            <div class = "infomation-recipe">
              <a class = "recipe-title" href="#">
                {{ post.title }}
              </a>
              <div>
                
                <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
              </div>
            </div>
            <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
          </div>

        </div>
      {% endfor %}
      
{% comment %} 
      <!-- Recipe 2             -->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/1.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Cowboy Caviar
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>

      </div>

      <!-- Recipe 3-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/2.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Copycat Cafe Rio Sweet Pulled Pork {Crock Pot}
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>

      </div>

      <!-- Recipe 4-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/3.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Silken tofu ceviche
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>
      </div>

      <!-- Recipe 5-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/4.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Chicken Salad Chick Chicken Salad
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>
      </div>

      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/0.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Oven Fried Chicken Legs
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>

      </div>

      <!-- Recipe 2             -->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/1.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Cowboy Caviar
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>

      </div>

      <!-- Recipe 3-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/2.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Copycat Cafe Rio Sweet Pulled Pork {Crock Pot}
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>

      </div>

      <!-- Recipe 4-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/3.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Silken tofu ceviche
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>
      </div>

      <!-- Recipe 5-->
      <div class = "post-grid-container">
        <a class = "Recipe-img-preview" href="#">
          <img src="{% static '/images/recipes/4.webp' %}" alt="recipe img">
        </a>
        <div class = "card-info">
          <!-- Link to Users -->
          <a class = "author-recipe" href="#">
            <img src="{% static '/icons/user.png' %}" alt="user">
          </a>
          <div class = "infomation-recipe">
            <a class = "recipe-title" href="#">
              Chicken Salad Chick Chicken Salad
            </a>
            <div>
              <span>3</span> <span>&#128077;</span> <span>5</span> <span>&#x2764;&#xfe0f;</span>
            </div>
          </div>
          <img class = "add-saved-recipe"src="{% static '/icons/add-saved-recipe.png' %}" alt="">
        </div>
      </div> {% endcomment %}
      <!-- END-EXAMPLE -->
    </div>

    <!-- Add some space -->
    <div style="height: 100px;"></div>
    <img style= "
      width: 50px; 
      height: 50px;
      align-self: center;
      " 
      src="{% static '/images/cooking.png' %}" alt="">
    <div style="height: 50px;"></div>
    
  </main>

  <script>

    function closeNav() {
    

        document.getElementById("sidebar").style.width = "0";
        document.getElementById("header").style.height = "50px";
        document.getElementById("main").style.padding = "60px 0 0 0"
        document.getElementById("header").style.overflow = "visible";

        document.getElementById("recipes-search-grid").style.gridTemplateColumns = "auto auto auto auto";
        }

      function openNav() {
        document.getElementById("header-search").style.opacity = "0";
        document.getElementById("middle-header").style.justifyContent = "right";
        document.getElementById("search-btn-header").style.display = "block";

        document.getElementById("sidebar").style.width = "200px";
        document.getElementById("header").style.height = "0";
        document.getElementById("header").style.overflow = "hidden";
        document.getElementById("main").style.padding = "0 0 0 200px"

        document.getElementById("recipes-search-grid").style.gridTemplateColumns = "auto auto auto";
      }

      function openSearchOnHeader(){
        document.getElementById("header-search").style.opacity = "1";
        document.getElementById("header-search").style.display = "block";
        document.getElementById("search-btn-header").style.display = "none";
        document.getElementById("middle-header").style.justifyContent = "center";
      }

    function displayDropdown(){
      if (document.getElementById("my-dropdown").style.display == "block"){
        document.getElementById("my-dropdown").style.display = "none";
      }
      else{
        document.getElementById("my-dropdown").style.display = "block";
      }
    }

    window.onclick = function(event) {
      if (!event.target.matches('.username-header') && !event.target.matches('.profile-header')) {
        if (document.getElementById("my-dropdown").style.display == "block"){
          document.getElementById("my-dropdown").style.display = "none";
        }
      }
    }
    function logout(){
      localStorage.setItem('login', 'no');
      return true;
    }
  function login(){
    window.location.href = "{% url 'login' %}";
  }
  </script>

</body>

</html>